<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Capsules</title>
</head>

<body>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Serial No: <%= capsules[0].serial %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= capsules[0].type %>
                        <br>
                        Status: <%= capsules[0].status %>
                            <br>
                            Reuse Count: <%= capsules[0].reuse_count %>
                                <br>
                                Water Landings: <%= capsules[0].water_landings %>
                                    <br>
                                    Last Update: <%= capsules[0].last_update %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Serial No: <%= capsules[1].serial %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= capsules[1].type %>
                        <br>
                        Status: <%= capsules[1].status %>
                            <br>
                            Reuse Count: <%= capsules[1].reuse_count %>
                                <br>
                                Water Landings: <%= capsules[1].water_landings %>
                                    <br>
                                    Last Update: <%= capsules[1].last_update %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Serial No: <%= capsules[2].serial %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= capsules[2].type %>
                        <br>
                        Status: <%= capsules[2].status %>
                            <br>
                            Reuse Count: <%= capsules[2].reuse_count %>
                                <br>
                                Water Landings: <%= capsules[2].water_landings %>
                                    <br>
                                    Last Update: <%= capsules[2].last_update %>
                </p>

            </div>
        </div>
    </div>

</body>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Capsules</title>
</head>

<body>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Serial No: <%= capsules[0].serial %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= capsules[0].type %>
                        <br>
                        Status: <%= capsules[0].status %>
                            <br>
                            Reuse Count: <%= capsules[0].reuse_count %>
                                <br>
                                Water Landings: <%= capsules[0].water_landings %>
                                    <br>
                                    Last Update: <%= capsules[0].last_update %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Serial No: <%= capsules[1].serial %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= capsules[1].type %>
                        <br>
                        Status: <%= capsules[1].status %>
                            <br>
                            Reuse Count: <%= capsules[1].reuse_count %>
                                <br>
                                Water Landings: <%= capsules[1].water_landings %>
                                    <br>
                                    Last Update: <%= capsules[1].last_update %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Serial No: <%= capsules[2].serial %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= capsules[2].type %>
                        <br>
                        Status: <%= capsules[2].status %>
                            <br>
                            Reuse Count: <%= capsules[2].reuse_count %>
                                <br>
                                Water Landings: <%= capsules[2].water_landings %>
                                    <br>
                                    Last Update: <%= capsules[2].last_update %>
                </p>

            </div>
        </div>
    </div>

</body>

</html>