<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Launchpads</title>
</head>

<body>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="<%= launchpads[0].images.large %>" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">
                        <%= launchpads[0].name %>
                    </p>

                </div>
            </div>

            <div class="content">
                <p>
                    Full Name: <%= launchpads[0].full_name %>
                        <br>
                        Status: <%= launchpads[0].status %>
                            <br>
                            Locality: <%= launchpads[0].locality %>
                                <br>
                                Region: <%= launchpads[0].region %>
                                    <br>
                                    Details: <%= launchpads[0].details %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="<%= launchpads[1].images.large %>" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">
                        <%= launchpads[1].name %>
                    </p>

                </div>
            </div>

            <div class="content">
                <p>
                    Full Name: <%= launchpads[1].full_name %>
                        <br>
                        Status: <%= launchpads[1].status %>
                            <br>
                            Locality: <%= launchpads[1].locality %>
                                <br>
                                Region: <%= launchpads[1].region %>
                                    <br>
                                    Details: <%= launchpads[1].details %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="<%= launchpads[2].images.large %>" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">
                        <%= launchpads[2].name %>
                    </p>

                </div>
            </div>

            <div class="content">
                <p>
                    Full Name: <%= launchpads[2].full_name %>
                        <br>
                        Status: <%= launchpads[2].status %>
                            <br>
                            Locality: <%= launchpads[2].locality %>
                                <br>
                                Region: <%= launchpads[2].region %>
                                    <br>
                                    Details: <%= launchpads[2].details %>
                </p>

            </div>
        </div>
    </div>

</body>

</html>