<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Payloads</title>
</head>

<body>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Name: <%= payloads[0].name %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= payloads[0].type %>
                        <br>
                        Customers: <%= payloads[0].customers %>
                            <br>
                            Nationalities: <%= payloads[0].nationalities %>
                                <br>
                                Manufacturers: <%= payloads[0].manufacturers %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Name: <%= payloads[1].name %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= payloads[1].type %>
                        <br>
                        Customers: <%= payloads[1].customers %>
                            <br>
                            Nationalities: <%= payloads[1].nationalities %>
                                <br>
                                Manufacturers: <%= payloads[1].manufacturers %>
                </p>

            </div>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Name: <%= payloads[2].name %>
            </p>
            <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </header>
        <div class="card-content">
            <div class="content">
                <p>
                    Type: <%= payloads[2].type %>
                        <br>
                        Customers: <%= payloads[2].customers %>
                            <br>
                            Nationalities: <%= payloads[2].nationalities %>
                                <br>
                                Manufacturers: <%= payloads[2].manufacturers %>
                </p>

            </div>
        </div>
    </div>

</body>